<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353407887629-5djjo69p9clahgguet4uqruqrourr3dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353407887629-5djjo69p9clahgguet4uqruqrourr3dh</string>
	<key>API_KEY</key>
	<string>AIzaSyDgdMkRLIvbguIYbcpjiCqxIUJ8N7noS4A</string>
	<key>GCM_SENDER_ID</key>
	<string>353407887629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marie.RedEye</string>
	<key>PROJECT_ID</key>
	<string>nuredeye-84bef</string>
	<key>STORAGE_BUCKET</key>
	<string>nuredeye-84bef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:353407887629:ios:8991264ee27f07f7</string>
	<key>DATABASE_URL</key>
	<string>https://nuredeye-84bef.firebaseio.com</string>
</dict>
</plist>